.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  @import './mobile-menu-header';
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    margin-left: 88px;

    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigation {
  &__list {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    position: relative;

    @media screen and (max-width: 767px) {
      & + & {
        margin-top: 41px;
      }
    }

    @media screen and (min-width: 768px) {
      & + & {
        margin-left: 50px;
      }
    }
  }
}

.navigation__link {
  display: block;

  @include font(500, 18px, 21px, 0.02em);
  color: $secondary-text-color;
  transition-property: color;
  @include transition;

  @media screen and (max-width: 767px) {
    padding-bottom: 11px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.143;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;

    &::after {
      position: absolute;
      bottom: -1px;

      content: '';
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }
}

.header__address {
  &-list {
    display: flex;

    @media screen and (max-width: 1199px) {
      flex-direction: column;

      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      align-items: center;
      margin-top: 60px;
    }
  }

  &-item {
    color: $main-text-color;
    fill: $main-text-color;
  }

  &-item + &-item {
    @media screen and (max-width: 1199px) {
      margin-top: 10px;
    }

    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }

  &-icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__address-link {
  display: flex;
  align-items: center;

  @include font(500, 14px, 16px, 0.02em);
  color: inherit;

  transition-property: color;
  @include transition;

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
