.social {
  display: flex;
  justify-content: center;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: fill, background-color;
    @include transition;

    &--light-theme {
      fill: $icons-light-theme-color;
      background-color: transparent;
    }

    &--light-theme:hover,
    &--light-theme:focus {
      fill: $primary-white-color;
      background-color: $accent-color;
    }

    &--dark-theme {
      fill: $primary-white-color;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &--dark-theme:hover,
    &--dark-theme:focus {
      background-color: $accent-color;
    }
  }

  &__item {
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &--team {
    margin-bottom: 24px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 30px;
    }
  }

  &--footer {
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 12px;
    }
  }
}
