$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$accent-color: #2196f3;
$main-text-color: #757575;
$secondary-text-color: #212121;
$dark-theme-color: rgba(255, 255, 255, 0.6);
$primary-white-color: #ffffff;
$primary-black-color: #000000;
$footer-background-color: #2f303a;
$secondary-background-color: #f5f4fa;
$icons-light-theme-color: #afb1b8;
